@model List<Ecommerce.Entities.ViewModel.CategoryParentViewModel>

@foreach (var parentCategory in Model)
{
    var path = "/Blogs/" + parentCategory.Id;
    <li>              
        <a href="@path">@parentCategory.Name</a>
    </li>
}
