@page "/AboutUs"
@model ArshaHamrah.Pages.AboutUsModel
@{
    ViewData["Title"] = "درباره ما";
}
<!-- BREADCRUMBS SETCTION START -->
<div class="breadcrumbs-section plr-200 mb-80">
    <div class="breadcrumbs overlay-bg">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="breadcrumbs-inner">
                        <h1 class="breadcrumbs-title">درباره ما</h1>
                        <ul class="breadcrumb-list">
                            <li>
                                <a asp-page="index">خانه</a>
                            </li>
                            <li>درباره ما</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BREADCRUMBS SETCTION END -->
<!-- Start page content -->
<section id="page-content" class="page-wrapper">

<!-- ABOUT SECTION START -->
<div class="about-section mb-80">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-left ">
                    <h2>درباره ما</h2>
                    <h6 class="mb-40">شرکت همراه پردازش آرشا از سال 1398 آغاز به وادرات،پخش و توزیع انواع تلفن همراه کرده است.</h6>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="about-photo p-20 bg-img-1">
                    <img src="~/img/others/about.jpg" alt="">
                </div>
            </div>
            <div class="col-md-7">
                <div class="about-description mt-50">
                    <p>برندهایی همچون اپل ، سامسونگ ، شیاومی ، هوآووی ، آنر ، نوکیا ، اچ تی سی ، لنوو و...که تمامی کالاها همراه با گارانتی رسمی و شرکتی در این مجموعه به بازار عرضه می گردند.</p>

                    <p>شرکت همراه پردازش آرشا پیش از این با نام فروشگاه موبایل نائین از سال 1380 خدمات خود رو به مشتریان ارائه می داد.</p>

                    <p>همراه پردازش آرشا به عنوان یکی از شرکت هایی که تلفن های هوشمند و خدمات پس از فروش را ارائه می دهد در سطح کشور فعالیت می کند.</p>

                    <p>هدف ما این است که بتوانیم جدیدترین و با کیفیت ترین محصولات را با بهترین قیمت در اختیار شما کاربران عزیز قرار دهیم.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ABOUT SECTION END -->

</section>
<!-- End page content -->