@page 
@model ErrorModel
@{
    ViewData["Title"] = "متاسفانه صفحه مورد نظر یافت نشد";
}

<div id="page-content" class="page-wrapper">

    <!-- ERROR SECTION START -->
    <div class="error-section mb-80">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="error-404 box-shadow">
                        <img src="~/img/others/error.jpg" alt="">
                        <div class="go-to-btn btn-hover-2">
                            <p>@Model.Message</p>
                            <a href="../Index">رفتن به صفحه خانه</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ERROR SECTION END -->
</div>