@page "/PaymentSuccessful"
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ArshaHamrah.Pages.PaymentSuccessfulModel
@{
}


<!-- BREADCRUMBS SETCTION START -->
<div class="breadcrumbs-section plr-200 mb-80">
    <div class="breadcrumbs overlay-bg">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="breadcrumbs-inner">
                        <h1 class="breadcrumbs-title">تکمیل سفارش</h1>
                        <ul class="breadcrumb-list">
                            <li>
                                <a asp-page="index">خانه</a>
                            </li>
                            <li>تکمیل سفارش</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BREADCRUMBS SETCTION END -->
<!-- order-complete start -->
<div class="tab-pane" id="order-complete">
    <div class="order-complete-content box-shadow">
        <div class="thank-you p-30 text-center">
            <h6 class="text-black-5 mb-0">متشکریم. سفارش شما دریافت شد.</h6>
        </div>
        <div class="order-info p-30 mb-10">
            <ul class="order-info-list">
                <li>
                    <h6>شماره سفارش</h6>
                    <p>#2653257</p>
                </li>
                <li>
                    <h6>شماره سفارش</h6>
                    <p>#2653257</p>
                </li>
                <li>
                    <h6>شماره سفارش</h6>
                    <p>#2653257</p>
                </li>
                <li>
                    <h6>شماره سفارش</h6>
                    <p>#2653257</p>
                </li>
            </ul>
        </div>
        <div class="row">
            <!-- our order -->
            <div class="col-md-6">
                <div class="payment-details p-30">
                    <h6 class="widget-title border-left mb-20">سفارش شما</h6>
                    <table>
                        <tr>
                            <td class="td-title-1">نام محصول نمایشی × 2</td>
                            <td class="td-title-2">1,855,000 تومان</td>
                        </tr>
                        <tr>
                            <td class="td-title-1">نام محصول نمایشی</td>
                            <td class="td-title-2">555,000 تومان</td>
                        </tr>
                        <tr>
                            <td class="td-title-1">جمع سبد</td>
                            <td class="td-title-2">2,410,000 تومان</td>
                        </tr>
                        <tr>
                            <td class="td-title-1">حمل و نقل</td>
                            <td class="td-title-2">15,000 تومان</td>
                        </tr>
                        <tr>
                            <td class="td-title-1">مالیات</td>
                            <td class="td-title-2">0 تومان</td>
                        </tr>
                        <tr>
                            <td class="order-total">مجموع سفارش</td>
                            <td class="order-total-price">2,425,000 تومان</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-md-6">
                <div class="bill-details p-30">
                    <h6 class="widget-title border-left mb-20">جزئیات پرداخت</h6>
                    <ul class="bill-address">
                        <li>
                            <span class="title">آدرس:</span>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
                        </li>
                        <li>
                            <span class="title">ایمیل:</span>
                            info@companyname.com
                        </li>
                        <li>
                            <span class="title">تلفن:</span>
                            <span class="ltr-text">(+880) 19453 821758</span>
                        </li>
                    </ul>
                </div>
                <div class="bill-details pl-30 pb-30 pr-30">
                    <h6 class="widget-title border-left mb-20">جزئیات پرداخت</h6>
                    <ul class="bill-address">
                        <li>
                            <span class="title">آدرس:</span>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
                        </li>
                        <li>
                            <span class="title">ایمیل:</span>
                            info@companyname.com
                        </li>
                        <li>
                            <span class="title">تلفن:</span>
                            <span class="ltr-text">(+880) 19453 821758</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- order-complete end -->