@page "/ResetForgotPassword/{token}"
@model ECommerce.Front.ArshaHamrah.Pages.ResetForgotPasswordModel
@{
    ViewData["Title"] = "بازیابی رمز عبور";
}

@if (Model.Message != null)
{
    switch (Model.Code)
    {
        case "Error":
            <div class="alert alert-danger"> @Model.Message </div>
            break;
        case "Warning":
            <div class="alert alert-warning"> @Model.Message </div>
            break;
        case "Info":
            <div class="alert alert-info"> @Model.Message </div>
            break;
        default:
            <div class="alert alert-success"> @Model.Message </div>
            break;
    }

    Model.Message = null;
}
<section class="user-form-part">
    <div class="container">
        <form method="post">
            <h6 class="widget-title border-left mb-40">مشتریان جدید</h6>
            <div class="login-account p-30 box-shadow">
                <input type="password" name="password" placeholder="رمز عبور" dir="ltr">
                <input type="password" name="conpass" placeholder="تکرار رمز عبور" dir="ltr">
                <div class="row">
                    <div class="col-md-6">
                        <button class="submit-btn-1 mt-20 btn-hover-1" type="submit">اعمال</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

}
