@page "/ResetForgotPassword"
@model ECommerce.Front.ArshaHamrah.Pages.ResetForgotPasswordModel
@{
    ViewData["Title"] = "بازیابی رمز عبور";
}

@if (Model.Message != null)
{
    switch (Model.Code)
    {
        case "Error":
            <div class="alert alert-danger"> @Model.Message </div>
            break;
        case "Warning":
            <div class="alert alert-warning"> @Model.Message </div>
            break;
        case "Info":
            <div class="alert alert-info"> @Model.Message </div>
            break;
        default:
            <div class="alert alert-success"> @Model.Message </div>
            break;
    }

    Model.Message = null;
}
<section class="user-form-part">
    <div class="container">
        
            <h6 class="widget-title border-left mb-40">مشتریان جدید</h6>
            <div class="login-account p-30 box-shadow">
                <input type="password" id="pass" placeholder="رمز عبور" dir="ltr">
                <input type="password" id="conpass" placeholder="تکرار رمز عبور" dir="ltr">
                <div class="row">
                    <div class="col-md-6">
                        <button class="submit-btn-1 mt-20 btn-hover-1" onclick="ResetForgotPassword()" type="submit">اعمال</button>
                    </div>
                </div>
            </div>
        
    </div>
</section>
@section scripts{
    <script>
        function ResetForgotPassword() {
            var password = $("#pass").val();
            var conpassword = $("#conpass").val();
            const params = new Proxy(new URLSearchParams(window.location.search), {
                get: (searchParams, prop) => searchParams.get(prop),
            });
            var token = params.token;
            var username = params.user;
            $.ajax({
                type: "Get",
                url: "?handler=ResetForgot&password=" + encodeURIComponent(password) + "&conpass=" + encodeURIComponent(conpassword) + "&token=" + encodeURIComponent(token) + "&username=" + username,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    swal(result.message);
                },
                failure: function (response) {
                    alert(response);
                }
            });
        };
    </script>

}
