@page
@model ArshaHamrah.Pages.UserProfile
@{
}
<!-- BREADCRUMBS SETCTION START -->
<div class="breadcrumbs-section plr-200 mb-80">
    <div class="breadcrumbs overlay-bg">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="breadcrumbs-inner">
                        <h1 class="breadcrumbs-title">حساب کاربری</h1>
                        <ul class="breadcrumb-list">
                            <li>
                                <a href="index.html">خانه</a>
                            </li>
                            <li>حساب کاربری</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BREADCRUMBS SETCTION END -->
<!-- Start page content -->
<div id="page-content" class="page-wrapper">

<!-- LOGIN SECTION START -->
<div class="login-section mb-80">
<div class="container">
<div class="row">
<div class="col-md-3">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a>اطلاعات شخصی من</a>
			</h4>
		</div>
	<div class="panel-collapse " role="tabpanel">
		<div class="panel-body">
			<div class="contact-address box-shadow">
				<h6>علیرضا سیاح نیا</h6>
				<h5>09111307006</h5>
			</div>
		</div>
	</div>
	</div>
</div>
<div class="col-md-9">
	<div class="my-account-content" id="accordion2">
	<!-- My Order info -->
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion2" href="#My_order_info">تاریخچه سفارشات</a>
			</h4>
		</div>
		<div id="My_order_info" class="panel-collapse" role="tabpanel">
			<div class="panel-body" style="padding: 15px">
				<!-- our order -->
				<div class="contact-address box-shadow" style="text-align: right">
					<a href="#">
						<h6 class="blog-section-title border-left mb-30">جزییات فاکتور
							<i style="font-size: 20px; background: none; color: black;margin-bottom: 0" class="zmdi zmdi-arrow-back"></i>
						</h6>
					</a>
					<ul class="breadcrumb-list" style="padding: 0">
						<li>
							<a href="index.html">3شهریور1401</a>
						</li>
						<li>کدسفارش:14623</li>
						<li>مبلغ:14200تومان</li>
						<li>تخفیف:1400تومان</li>
					</ul><hr>

					<a href="#">
						<img style="width: 80px" src="./img/product/12.jpg" alt="">
					</a>
					<a href="#">
						<img style="width: 80px" src="./img/product/1.jpg" alt="">
					</a>
					<a href="#">
						<img style="width: 80px" src="./img/product/3.jpg" alt="">
					</a>
					<a href="#">
						<img style="width: 80px" src="./img/product/4.jpg" alt="">
					</a>
					<hr> 
					<div style="text-align: left">
						<a><i></i>مشاهده فاکتور</a></div>
				</div>
			<div class="panel-body" style="padding: 15px">
				<!-- our order -->
				<div class="contact-address box-shadow">
					<h6>علیرضا سیاح نیا</h6>
					<h5>09111307006</h5>
				</div>
			</div>
		</div>
	</div>
		<!-- My shipping address -->
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion2" href="#my_shipping">آدرس ارسال من</a>
				</h4>
			</div>
			<div id="my_shipping" class="panel-collapse collapse" role="tabpanel">
				<div class="panel-body">
					<form action="#">
						<div class="new-customers p-30">
							<div class="row">
								<div class="col-sm-6">
									<input type="text" placeholder="نام">
								</div>
								<div class="col-sm-6">
									<input type="text" placeholder="نام خانوادگی">
								</div>
								<div class="col-sm-6">
									<select class="custom-select">
										<option value="defalt">کشور</option>
										<option value="c-1">ایران</option>
										<option value="c-2">بنگلادش</option>
										<option value="c-3">آمریکا</option>
										<option value="c-4">انگلستان</option>
									</select>
								</div>
								<div class="col-sm-6">
									<select class="custom-select">
										<option value="defalt">استان</option>
										<option value="c-1">آذربایجان شرقی</option>
										<option value="c-2">تهران</option>
										<option value="c-3">اصفهان</option>
										<option value="c-4">همدان</option>
									</select>
								</div>
								<div class="col-sm-6">
									<select class="custom-select">
										<option value="defalt">شهر/شهرستان</option>
										<option value="c-1">تبریز</option>
										<option value="c-2">تهران</option>
										<option value="c-3">بوشهر</option>
										<option value="c-4">مشهد</option>
									</select>
								</div>
								<div class="col-sm-6">
									<input type="text" placeholder="... شماره تلفن" dir="ltr">
								</div>
							</div>
							<input type="text" placeholder="نام شرکت ...">
							<input type="text" placeholder="... آدرس ایمیل" dir="ltr">
							<textarea class="custom-textarea" placeholder="اطلاعات بیشتر ..."></textarea>
							<div class="row">
								<div class="col-md-6">
									<button class="submit-btn-1 mt-20 btn-hover-1" type="submit" value="register">ذخیره</button>
								</div>
								<div class="col-md-6">
									<button class="submit-btn-1 mt-20 btn-hover-1 f-right" type="reset">پاکسازی</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- My billing details -->
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion2" href="#billing_address">اطلاعات بانکی من</a>
				</h4>
			</div>
			<div id="billing_address" class="panel-collapse collapse" role="tabpanel">
				<div class="panel-body">
					<form action="#">
						<div class="billing-details p-30">
							<input type="text" placeholder="نام شما ...">
							<input type="text" placeholder="... آدرس ایمیل" dir="ltr">
							<input type="text" placeholder="... شماره تلفن" dir="ltr">
							<input type="text" placeholder="نام شرکت ...">
							<select class="custom-select">
								<option value="defalt">کشور</option>
								<option value="c-1">ایران</option>
								<option value="c-2">بنگلادش</option>
								<option value="c-3">آمریکا</option>
								<option value="c-4">انگلستان</option>
							</select>
							<select class="custom-select">
								<option value="defalt">استان</option>
								<option value="c-1">آذربایجان شرقی</option>
								<option value="c-2">تهران</option>
								<option value="c-3">اصفهان</option>
								<option value="c-4">همدان</option>
							</select>
							<select class="custom-select">
								<option value="defalt">شهر/شهرستان</option>
								<option value="c-1">تبریز</option>
								<option value="c-2">تهران</option>
								<option value="c-3">بوشهر</option>
								<option value="c-4">مشهد</option>
							</select>
							<textarea class="custom-textarea" placeholder="آدرس شما ..."></textarea>
							<div class="row">
								<div class="col-md-6">
									<button class="submit-btn-1 mt-20 btn-hover-1" type="submit" value="register">ذخیره</button>
								</div>
								<div class="col-md-6">
									<button class="submit-btn-1 mt-20 btn-hover-1 f-right" type="reset">پاکسازی</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

		<!-- Payment Method -->
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion2" href="#My_payment_method">ارسال تیکت</a>
				</h4>
			</div>
			<div id="My_payment_method" class="panel-collapse collapse" role="tabpanel">
				<div class="panel-body">
					<form action="#">
						<div class="new-customers p-30">
						
							<div class="row">
							
								<div class="col-sm-6">
									<input type="text" placeholder="عنوان">
								</div>
								<div class="col-sm-6">
									<input type="text" placeholder="نام بانک">
								</div>
								<div class="col-sm-12">
									<textarea class="custom-textarea" placeholder="متن تیکت ..."></textarea>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<button class="submit-btn-1 mt-20 btn-hover-1" type="submit" value="register">ارسال</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</div>
</div>
<!-- LOGIN SECTION END -->
</div>
</div>
<!-- End page content -->