<li>
    <a class="fab fa-telegram" href="https://t.me/bolouri_group"></a>
</li>
<li>
    <a class="fab fa-linkedin-in" href="https://www.linkedin.com/in/%D8%AA%D8%AC%D9%87%DB%8C%D8%B2%D8%A7%D8%AA-%D8%A2%D8%B4%D9%BE%D8%B2%DB%8C-%D9%88-%D9%BE%D8%B0%DB%8C%D8%B1%D8%A7%DB%8C%DB%8C-%D8%A8%D9%84%D9%88%D8%B1%DB%8C-506aa6217/"></a>
</li>
<li>
    <a class="fab fa-instagram" href="https://instagram.com/bolouri.group?utm_medium=copy_link"></a>
</li>
<li>
    <a class="fab fa-pinterest" href="https://www.pinterest.com/bolourigroup/_saved/"></a>
</li>