<li>
    <a class="fab fa-telegram" href="https://t.me/bolouri_group"></a>
</li>
<li>
    <a class="fab fa-linkedin-in" href="https://www.linkedin.com/in/boloorico-%D8%AA%D8%AC%D9%87%DB%8C%D8%B2%D8%A7%D8%AA-%D8%B5%D9%86%D8%B9%D8%AA%DB%8C-%D8%A8%D9%84%D9%88%D8%B1%DB%8C-506aa6217/"></a>
</li>
<li>
    <a class="fab fa-instagram" href="https://instagram.com/boloorico?igshid=YmMyMTA2M2Y="></a>
</li>
<li>
    <a class="fab fa-pinterest" href="https://pin.it/4PLGQh2"></a>
</li>