@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ECommerce.Front.BolouriGroup.Pages.AboutUsModel
@{
    ViewData["Title"] = "درباره ما";
}


<section class="inner-section single-banner">
    <div class="container">
        <h2>درباره ما</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-area="" asp-page="/Index">خانه</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">درباره ما</li>
        </ol>
    </div>
</section>


<section class="inner-section about-company">
    <div class="container">
        =325476<div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-img">
                    <img src="~/img/about/1.jpg" alt="در باره">
                    <img src="~/img/about/2.jpg" alt="در باره">
                </div>
                <div class="about-img-single">
                    <img src="~/img/about/3.jpg" alt="در باره">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-content">
                    <h2>درباره بلوری</h2>
	                <p>
                        مجموعه بلوری در طی بیش از چند دهه فعالیت و توسعه همگام با سلیقه مشتریان، هم اکنون به پشتوانه در اختیار داشتن گروه کارشناسان حرفه ای در زمینه مشاوره، طراحی، تجهیز و راه اندازی رستوران، تالار، هتل، کافی شاپ، فست فود و تمامی آشپزخانه های صنعتی در خدمت مشتریان گرامی می باشد.
	                </p>
                    <p>
                        ارائه کیفیت بالای کالا و خدمات در حوزه گسترده آشپزی و پذیرایی و رضایت بالای مشتریان؛ ما را بر آن داشت تا در حوزه تجهیزات داروخانه و آزمایشگاه و بیمارستان نیز به این عزیزان خدمت رسانی نماییم.
                    </p>
                    <p>
                        همچنین این مجموعه با دارا بودن کارشناسان و تعمیرکاران حرفه ای در بخش تعمیر و خدمات فنی و مهندسی پاسخگوی یکی دیگر از نیازهای مبرم مشتریان خود می باشد.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class ="about-choose">
    <div class="container">
        <div class="row">
            <div class="col-11 col-md-9 col-lg-7 col-xl-6 mx-auto">
                <div class="section-heading">
                    <h2>چرا مردم ما را انتخاب می کنند؟</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="choose-card">
                    <div class="choose-icon">
                        <i class="fal fa-salad"></i>
                    </div>
                    <div class="choose-text">
	                    <h4>	تجربه و سابقه فعالیت:</h4>
	                    <p>مجموعه بلوری بیش از چند دهه فعالیت و تجربه در زمینه تامین تجهیزات حوزه خوراک را دارا می باشد.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="choose-card">
                    <div class="choose-icon">
                        <i class="fal fa-truck"></i>
                    </div>
                    <div class="choose-text">
                        <h4>	نمایندگی انحصاری:</h4>
                  <p>این مجموعه  نماینده انحصاری فروش تجهیزات بیش از20 برند برتر حوزه آشپزی و پذیرایی بوده و همچنین دارای مرکز خدمات فنی و تعمیرات حرفه ای با کارشناسان مجرب می باشد.</p>
	                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="choose-card">
                    <div class="choose-icon">
                        <i class="far fa-sync-alt"></i>
                    </div>
                    <div class="choose-text">
                        <h4>	سبد کالای بزرگ و متنوع و جامعه آماری بزرگ مشتریان:</h4>
	                    <p>تنوع و گوناگونی کالا و خدمات در مجموعه بلوری بشکلی می باشد که هم اکنون کلیه خدمات مشاوره، طراحی، تجهیز، فروش، سرویس، تعمیر و نگهداری برای هتل، تالار، رستوران، کافی شاپ، فست فود، بیمارستان و مراکز آزمایشگاهی و درمانی، با تنوع حدود 5000 قلم کالا بطور یکجا و برای بیش از 4000 مشتری فعال انجام می شود.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="choose-card">
                    <div class="choose-icon">
                        <i class="far fa-headset"></i>
                    </div>
                    <div class="choose-text">
                        <h4>پشتیبانی مشتری :</h4>
                        <p>همکاران ما در بخش پشتیبانی مشتری، جهت ارائه خدمات مطلوب تر و رضایتمندی مشتریان عزیز با صبوری پاسخگو و پیگیر انتقادات و شکایات مشتریان می باشند.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section partner-part">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading">
                    <h2>نمایندگی های اخذ شده</h2>
                </div>
            </div>
            <div class="col-lg-12">
                <ul class="partner-slider slider-arrow">
	                @foreach (var brand in Model.Brands)
	                {
		                <li>
			                <a asp-area="" asp-page="/Shop" asp-route-search="BrandId=@brand.Id">
				                <img src="@brand.ImagePath" alt=@brand.Name width="133" height="61">

			                </a>
		                </li>
	                }
                </ul>
            </div>
        </div>
    </div>
</section>

