@page
@model Bolouri.Pages.AboutUsModel
@{
    ViewData["Title"] = "درباره ما";
}


<section class="inner-section single-banner">
    <div class="container">
        <h2>درباره ما</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-area="" asp-page="/Index">خانه</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">درباره ما</li>
        </ol>
    </div>
</section>


<section class="inner-section about-company">
    <div class="container">

        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-img">
                    <img src="~/img/about/1.jpg" alt="در باره">
                    <img src="~/img/about/2.jpg" alt="در باره">
                </div>
                <div class="about-img-single">
                    <img src="~/img/about/3.jpg" alt="در باره">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-content">
                    <h2>درباره بلوری</h2>
                    <p>
                        مجموعه بلوری در طی بیش از نیم‌قرن فعالیت و توسعه همگام با سلیـقه مشتـریان در حوزه تجهیـزات آشپزی و پذیـرایی، هم اکنون به پشتوانه در اختیار داشتن گروه کارشناسان حرفه‌ای در زمیـنه مشاوره، طراحی، تجهیـز و راه اندازی رستـوران، تالار، هتـل، کافی‌شاپ، فست‌فود و تمامی آشپـزخانه‌های صنعتـی و همچنیـن تجهیـزات داروخانه و بیـمارستان، با کیفیـت بالای کالا و خدمات در خدمت مشتـریان گرامی می‌باشد.
                    </p>
                </div>
                <ul class="about-list">
                    <li>
                        <i class="fal fa-users"></i>
                        <h3>4001</h3>
                        <h6>کاربران ثبت نام شده</h6>
                    </li>
                    <li>
                        <i class="fal fa-user-friends"></i>
                        <h3>1010</h3>
                        <h6>در روز بازدید کننده</h6>
                    </li>
                    <li>
                        <i class="fal fa-layer-group"></i>
                        <h3>250</h3>
                        <h6>کل محصولات</h6>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>


<section class="inner-section about-testimonial">
    <div class="container">
        <ul class="testi-slider slider-arrow">
            <li>
                <div class="testi-content">
                    <a class="testi-img" href="#">
                        <img src="~/img/testimonial/1.jpg" alt="توصیفی">
                    </a>
                    <div class="testi-quote">
                        <i class="far fa-quote-left"></i>
                        <p>تغییرات زیادی از معابر سنگ معدن سنگ معدن وجود دارد اما اکثریت آنها به نوعی با شوخ تزریق شده دچار تغییر شده اند.</p>
                        <h4>متن ساختگی</h4>
                        <h6>مشتری</h6>
                    </div>
                </div>
            </li>
            <li>
                <div class="testi-content">
                    <a class="testi-img" href="#">
                        <img src="~/img/testimonial/2.jpg" alt="توصیفی">
                    </a>
                    <div class="testi-quote">
                        <i class="far fa-quote-left"></i>
                        <p>تغییرات زیادی از معابر سنگ معدن سنگ معدن وجود دارد اما اکثریت آنها به نوعی با شوخ تزریق شده دچار تغییر شده اند.</p>
                        <h4>متن ساختگی</h4>
                        <h6>مشتری</h6>
                    </div>
                </div>
            </li>
            <li>
                <div class="testi-content">
                    <a class="testi-img" href="#">
                        <img src="~/img/testimonial/3.jpg" alt="توصیفی">
                    </a>
                    <div class="testi-quote">
                        <i class="far fa-quote-left"></i>
                        <p>تغییرات زیادی از معابر سنگ معدن سنگ معدن وجود دارد اما اکثریت آنها به نوعی با شوخ تزریق شده دچار تغییر شده اند.</p>
                        <h4>متن ساختگی</h4>
                        <h6>مشتری</h6>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>


<section class="about-choose">
    <div class="container">
        <div class="row">
            <div class="col-11 col-md-9 col-lg-7 col-xl-6 mx-auto">
                <div class="section-heading">
                    <h2>چرا مردم ما را انتخاب می کنند؟</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="choose-card">
                    <div class="choose-icon">
                        <i class="fal fa-salad"></i>
                    </div>
                    <div class="choose-text">
                        <h4> نمایندگی انحصاری کالا و خدمات :</h4>
                        <p>مجموعه بلوری نماینده انحصاری فروش تجهیزات و خدمات بیش از20 برند برتر حوزه آشپزی و پذیرایی می باشد</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="choose-card">
                    <div class="choose-icon">
                        <i class="fal fa-truck"></i>
                    </div>
                    <div class="choose-text">
                        <h4>تنوع کالا و خدمات:</h4>
                        <p>تنوع و گوناگونی کالا و خدمات در مجموعه بلوری به قدری می باشد که کلیه خدمات مشاوره، طراحی، تجهیز، فروش، سرویس، تعمیر و نگهداری هتل، تالار، رستوران، کافی شاپ، فست فود، بیمارستان و مراکز آزمایشگاهی و درمانی یکجا انجام می شود.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="choose-card">
                    <div class="choose-icon">
                        <i class="far fa-sync-alt"></i>
                    </div>
                    <div class="choose-text">
                        <h4>وسعت انبار کالا و فروشگاه :</h4>
                        <p>مجموعه بلوری بزرگترین هلدینگ تجهیزات آشپزی و پذیرایی در شمال کشور می باشد</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="choose-card">
                    <div class="choose-icon">
                        <i class="far fa-headset"></i>
                    </div>
                    <div class="choose-text">
                        <h4>پشتیبانی مشتری :</h4>
                        <p>همکاران ما در بخش پشتیبانی مشتری، جهت ارائه خدمات مطلوب تر و رضایتمندی مشتریان عزیز با صبوری پاسخگو و پیگیر انتقادات و شکایات مشتریان می باشند.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section partner-part">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading">
                    <h2>شرکا عالی ما</h2>
                </div>
            </div>
            <div class="col-lg-12">
                <ul class="partner-slider slider-arrow">
                    <li>
                        <a href="#">
                            <img src="~/img/brand/01.png" alt="نام تجاری">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="~/img/brand/01.png" alt="نام تجاری">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="~/img/brand/01.png" alt="نام تجاری">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="~/img/brand/01.png" alt="نام تجاری">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="~/img/brand/01.png" alt="نام تجاری">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="~/img/brand/01.png" alt="نام تجاری">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="~/img/brand/01.png" alt="نام تجاری">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="~/img/brand/01.png" alt="نام تجاری">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>


<section class="inner-section about-team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="team-slider slider-arrow">
                    <li>
                        <figure class="team-media">
                            <img src="~/img/team/3.png" alt="تیم">
                            <div class="team-overlay">
                                <a href="#" class="fab fa-facebook-f"></a><a href="#" class="fab fa-twitter"></a><a href="#" class="fab fa-instagram"></a><a href="#" class="fab fa-behance"></a>
                            </div>
                        </figure>
                        <div class="team-meta">
                            <h5>
                                <a href="#">جورجیا ای ویت</a>
                            </h5>
                            <p>بنیانگذار و مدیر عامل</p>
                        </div>
                    </li>
                    <li>
                        <figure class="team-media">
                            <img src="~/img/team/1.png" alt="تیم">
                            <div class="team-overlay">
                                <a href="#" class="fab fa-facebook-f"></a><a href="#" class="fab fa-twitter"></a><a href="#" class="fab fa-instagram"></a><a href="#" class="fab fa-behance"></a>
                            </div>
                        </figure>
                        <div class="team-meta">
                            <h5>
                                <a href="#">جورجیا ای ویت</a>
                            </h5>
                            <p>مدیر پروژه</p>
                        </div>
                    </li>
                    <li>
                        <figure class="team-media">
                            <img src="~/img/team/2.png" alt="تیم">
                            <div class="team-overlay">
                                <a href="#" class="fab fa-facebook-f"></a><a href="#" class="fab fa-twitter"></a><a href="#" class="fab fa-instagram"></a><a href="#" class="fab fa-behance"></a>
                            </div>
                        </figure>
                        <div class="team-meta">
                            <h5>
                                <a href="#">جورجیا ای ویت</a>
                            </h5>
                            <p>طراح ارشد</p>
                        </div>
                    </li>
                    <li>
                        <figure class="team-media">
                            <img src="~/img/team/3.png" alt="تیم">
                            <div class="team-overlay">
                                <a href="#" class="fab fa-facebook-f"></a><a href="#" class="fab fa-twitter"></a><a href="#" class="fab fa-instagram"></a><a href="#" class="fab fa-behance"></a>
                            </div>
                        </figure>
                        <div class="team-meta">
                            <h5>
                                <a href="#">جورجیا ای ویت</a>
                            </h5>
                            <p>بازاریاب دیجیتال</p>
                        </div>
                    </li>
                    <li>
                        <figure class="team-media">
                            <img src="~/img/team/4.png" alt="تیم">
                            <div class="team-overlay">
                                <a href="#" class="fab fa-facebook-f"></a><a href="#" class="fab fa-twitter"></a><a href="#" class="fab fa-instagram"></a><a href="#" class="fab fa-behance"></a>
                            </div>
                        </figure>
                        <div class="team-meta">
                            <h5>
                                <a href="#">جورجیا ای ویت</a>
                            </h5>
                            <p>طراح گرافیک</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>


<section class="news-part">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-5 col-lg-6 col-xl-7">
                <div class="news-text">
                    <h2>برای به روزرسانی خبرنامه ما مشترک شوید</h2>
                    <p>تنوع زیادی از معابر سنگ معدن سنگ معدن موجود است</p>
                </div>
            </div>
            <div class="col-md-7 col-lg-6 col-xl-5">
                <form class="news-form">
                    <input type="text" placeholder="آدرس ایمیل خود را وارد کنید">
                    <button>
                        <span> اشتراک <i class="far fa-paper-plane"></i> </span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>