@page
@model Bolouri.Pages.BlogDetailsModel
@{
    ViewData["Title"] = "جزئیات وبلاگ";
}


<section class="inner-section single-banner">
    <div class="container">
        <h2>جزئیات وبلاگ</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-area="" asp-page="/Index">خانه</a>
            </li>
	        <li class="breadcrumb-item active" aria-current="page">جزئیات وبلاگ</li>
        </ol>
    </div>
</section>
<section class="inner-section blog-details-part">
 <div class="container">
  <div class="row justify-content-center">
   <div class="col-lg-8">
    <article class="blog-details">
     <a class="blog-details-thumb" href="#"><img src="~/Images/Banner/2.jpg" alt="وبلاگ"></a>
     <div class="blog-details-content">
      <ul class="blog-details-meta">
       <li><i class="far fa-calendar"></i><span>20 خرداد 1400   </span></li>
       <li><i class="far fa-user"></i><span>توسط مدیر</span></li>
       <li><i class="far fa-comments"></i><span>10 نظر</span></li>
       <li><i class="far fa-share-alt"></i><span>20 سهم</span></li>
      </ul>
      <h2 class="blog-details-title">بسیاری از معابر که اکثر آنها رنج برده اند وجود دارد</h2>
      <p class="blog-details-desc">
       بسیاری از متنهای متن ساختگی در دسترس است ، اما اکثریت از طنز تزریق شده یا کلمات تصادفی که حتی کمی باور پذیر به نظر نمی رسند دچار تغییراتی شده اند. اگر می خواهید از متن متن ساختگی استفاده کنید ، باید مطمئن باشید که هیچ چیز خجالت آور در وسط متن پنهان نشده است. تمام مولدهای متن ساختگی در اینترنت تمایل دارند که تکه های از پیش تعریف شده را در صورت لزوم تکرار کنند ، و این اولین تولید کننده واقعی در اینترنت است.
      </p>
      <blockquote class="blog-details-quote">
       <p>این یک واقعیت ثابت شده طولانی است که خواننده از محتوای قابل خواندن منحرف می شود.</p>
       <footer>- نیکلاس تی لومیس</footer>
      </blockquote>
      <p class="blog-details-desc">
       اگر می خواهید از متن متن ساختگی استفاده کنید ، باید مطمئن باشید که هیچ چیز خجالت آور در وسط متن پنهان نشده است. تمام مولدهای متن ساختگی در اینترنت تمایل دارند که تکه های از پیش تعریف شده را در صورت لزوم تکرار کنند ، و این اولین تولید کننده واقعی در اینترنت است. این از یک فرهنگ لغت با بیش از 200 کلمه لاتین ، در ترکیب استفاده می کند.
      </p>
      <div class="row blog-details-grid">
	      <div class="col-md-6 col-lg-6"><img class="img-fluid" src="~/Images/Banner/1.jpg" alt="وبلاگ"></div>
       <div class="col-md-6 col-lg-6">
        <p>
         از آنجا که لورم ایپسوم، شباهت زیادی به متن های واقعی دارد، طراحان معمولا از لورم ایپسوم استفاده میکنند تا فقط به مشتری یا کار فرما نشان دهند که قالب طراحی شده بعد از اینکه متن در آن قرار میگرد چگونه خواهد بود و فونت ها و اندازه ها چگونه در نظر گرفته شده است.

        </p>
       </div>
      </div>
      <div class="blog-details-footer">
       <ul class="blog-details-share">
        <h4>اشتراک گذاری:</h4>
	       <li>
		       <a class="fab fa-linkedin" title="لینکدین" href="https://www.linkedin.com/in/boloorico-%D8%AA%D8%AC%D9%87%DB%8C%D8%B2%D8%A7%D8%AA-%D8%B5%D9%86%D8%B9%D8%AA%DB%8C-%D8%A8%D9%84%D9%88%D8%B1%DB%8C-506aa6217/"></a>
	       </li>
	       <li>
		       <a class="fab fa-pinterest" href="https://pin.it/4PLGQh2" title="پینترست"></a>
	       </li>
	       <li>
		       <a href="https://www.instagram.com/boloorico/" class="fab fa-instagram" title="اینستاگرام"></a>
	       </li>
       </ul>
       <ul class="blog-details-tag">
        <h4>برچسب ها:</h4>
        <li><a href="#">تازه</a></li>
        <li><a href="#">ارگانیک</a></li>
        <li><a href="#">دریا</a></li>
        <li><a href="#">غذا</a></li>
       </ul>
      </div>
     </div>
    </article>
    <div class="blog-details-profile">
     <a href="#"><img src="~/Images/BlogAuthors/784d5095-85f7-4033-86c6-9a7222b4f49f.jpg" alt="آواتار"></a>
     <h3>نرگس</h3>
     <ul>
      <li><a href="#" class="fab fa-facebook-f"></a></li>
      <li><a href="#" class="fab fa-twitter"></a></li>
      <li><a href="#" class="fab fa-linkedin-in"></a></li>
      <li><a href="#" class="fab fa-pinterest"></a></li>
      <li><a href="#" class="fab fa-instagram"></a></li>
     </ul>
     <p>
      این یک واقعیت ثابت شده طولانی است که خواننده هنگام مشاهده صفحه آن از محتوای خواندنی آن منحرف می شود. نکته ای که در استفاده از متن ساختگی وجود دارد این است که توزیع حروف کم و بیش طبیعی دارد.
     </p>
    </div>
    <div class="blog-details-comment">
     <h3 class="comment-title">10 نظر</h3>
     <ul class="comment-list">
      <li class="comment-item">
       <div class="comment-media">
        <a class="comment-avatar" href="#"><img src="~/Images/BlogAuthors/29271c6e-60ec-4dd5-bc42-ae94c91624c5.jpg" alt="مرور"></a>
        <h6 class="comment-meta"><a href="#">نیلوفر </a><span>4 خرداد 1400   </span></h6>
       </div>
       <p class="comment-desc">
        بسیاری از متنهای متن ساختگی در دسترس است ، اما اکثریت از طنز تزریق شده یا کلمات تصادفی که حتی کمی باور پذیر به نظر نمی رسند دچار تغییراتی شده اند.
       </p>
      </li>
      <li class="comment-item">
       <div class="comment-media">
        <a class="comment-avatar" href="#"><img src="~/Images/BlogAuthors/1307821d-da36-4b3a-84f5-4b5a32e9ed9e.jpg" alt="مرور"></a>
        <h6 class="comment-meta"><a href="#">نیلوفر </a><span>4 خرداد 1400   </span></h6>
       </div>
       <p class="comment-desc">
        بسیاری از متنهای متن ساختگی در دسترس است ، اما اکثریت از طنز تزریق شده یا کلمات تصادفی که حتی کمی باور پذیر به نظر نمی رسند دچار تغییراتی شده اند.
       </p>
      </li>
      <li class="comment-item">
       <div class="comment-media">
        <a class="comment-avatar" href="#"><img src="~/Images/BlogAuthors/0477f163-d5cf-41db-86c1-860be06f85eb.jpg" alt="مرور"></a>
        <h6 class="comment-meta"><a href="#">نیلوفر </a><span>4 خرداد 1400   </span></h6>
       </div>
       <p class="comment-desc">
        بسیاری از متنهای متن ساختگی در دسترس است ، اما اکثریت از طنز تزریق شده یا کلمات تصادفی که حتی کمی باور پذیر به نظر نمی رسند دچار تغییراتی شده اند.
       </p>
      </li>
     </ul>
    </div>
    <form class="blog-details-form">
     <h3 class="details-form-title">ارسال نظر</h3>
     <div class="row">
      <div class="col-lg-6">
       <div class="form-group"><input type="text" class="form-control" placeholder="اسمت را وارد کن"></div>
      </div>
      <div class="col-lg-6">
       <div class="form-group"><input type="email" class="form-control" placeholder="ایمیل خود را وارد کنید"></div>
      </div>
      <div class="col-lg-12">
       <div class="form-group"><textarea class="form-control" placeholder="نظر خود را بنویسید"></textarea></div>
      </div>
     </div>
     <button class="form-btn">ارسال نظر</button>
    </form>
   </div>
   <div class="col-lg-4">
    <div class="blog-widget">
     <h3 class="blog-widget-title">جستجو کردن</h3>
     <form class="blog-widget-form"><input type="text" placeholder="جستجو کردن..."><button class="far fa-search"></button></form>
    </div>
    <div class="blog-widget">
     <h3 class="blog-widget-title">آخرین ارسال ها</h3>
     <ul class="blog-widget-feed">
      <li>
       <a class="blog-widget-media" href="#"><img src="~/Images/Blogs/935c2b14-0c53-40d0-a425-5fa42447858b.jpg" alt="ویجت وبلاگ"></a>
       <h6 class="blog-widget-text"><a href="#">تغییرات زیادی در </a><span>20 خرداد 1400    وجود دارد</span></h6>
      </li>
      <li>
       <a class="blog-widget-media" href="#"><img src="~/Images/Blogs/bf5adcd1-9d9c-4e23-9dfb-fddd445ef6f2.jpg" alt="ویجت وبلاگ"></a>
       <h6 class="blog-widget-text"><a href="#">تغییرات زیادی در </a><span>20 خرداد 1400    وجود دارد</span></h6>
      </li>
      <li>
       <a class="blog-widget-media" href="#"><img src="~/Images/Blogs/ca44aed5-11d5-4a97-91b4-24fd9fa93e8f.jpg" alt="ویجت وبلاگ"></a>
       <h6 class="blog-widget-text"><a href="#">تغییرات زیادی در </a><span>20 خرداد 1400    وجود دارد</span></h6>
      </li>
     </ul>
    </div>
    <div class="blog-widget">
     <h3 class="blog-widget-title">دسته های برتر</h3>
     <ul class="blog-widget-category">
      <li>
       <a href="#">ارگانیک <span>(10)</span></a>
      </li>
      <li>
       <a href="#">غذای تازه <span>(20)</span></a>
      </li>
      <li>
       <a href="#">بررسی کیفیت <span>(30)</span></a>
      </li>
      <li>
       <a href="#">سبزیجات <span>(20)</span></a>
      </li>
      <li>
       <a href="#">زندگی روزمره <span>(05)</span></a>
      </li>
     </ul>
    </div>
    <div class="blog-widget">
     <h3 class="blog-widget-title">برچسب های محبوب</h3>
     <ul class="blog-widget-tag">
      <li><a href="#">ارگانیک</a></li>
      <li><a href="#">غذا</a></li>
      <li><a href="#">تازه</a></li>
      <li><a href="#">سالم</a></li>
      <li><a href="#">غذای دریایی</a></li>
      <li><a href="#">غذای خشک</a></li>
     </ul>
    </div>
    <div class="blog-widget">
     <h3 class="blog-widget-title">ما را دنبال کنید</h3>
     <ul class="blog-widget-social">
      <li><a href="#" class="fab fa-facebook-f"></a></li>
      <li><a href="#" class="fab fa-twitter"></a></li>
      <li><a href="#" class="fab fa-linkedin-in"></a></li>
      <li><a href="#" class="fab fa-pinterest"></a></li>
      <li><a href="#" class="fab fa-instagram"></a></li>
     </ul>
    </div>
   </div>
  </div>
 </div>
</section>


<section class="news-part">
 <div class="container">
  <div class="row align-items-center">
   <div class="col-md-5 col-lg-6 col-xl-7">
    <div class="news-text">
     <h2>برای به روزرسانی خبرنامه ما مشترک شوید</h2>
     <p>تنوع زیادی از معابر سنگ معدن سنگ معدن موجود است</p>
    </div>
   </div>
   <div class="col-md-7 col-lg-6 col-xl-5">
    <form class="news-form">
     <input type="text" placeholder="آدرس ایمیل خود را وارد کنید">
     <button>
      <span>  اشتراک <i class="far fa-paper-plane"></i> </span>
     </button>
    </form>
   </div>
  </div>
 </div>
</section>



