@page
@model Bolouri.Pages.Coming_SoonModel
@{
    ViewData["Title"] = "به زودی";
}

<section class="coming-part">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="coming-content">
                    <h1 class="coming-title">به زودی</h1>
                    <div class="coming-timer" data-countdown="2022/7/30"></div>
                    <h3 class="coming-subtitle">وب سایت جدید ما تقریبا آماده است. </h3>
                    <form class="coming-form">
                        <input type="text" placeholder="ایمیل خود را وارد کنید"/><button class="btn">اشتراک </button>
                    </form>
                    <div class="coming-social">
                        <a class="fab fa-facebook-f" href="#"></a><a class="fab fa-twitter" href="#"></a><a class="fab fa-linkedin" href="https://www.linkedin.com/in/boloorico-%D8%AA%D8%AC%D9%87%DB%8C%D8%B2%D8%A7%D8%AA-%D8%B5%D9%86%D8%B9%D8%AA%DB%8C-%D8%A8%D9%84%D9%88%D8%B1%DB%8C-506aa6217/"></a><a class="fab fa-instagram" href="https://instagram.com/bolouri.group?utm_medium=copy_link"></a><a class="fab fa-pinterest" href="https://pin.it/4PLGQh2"></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <img class="img-fluid" src="~/img/coming.svg" alt="coming-soon"/>
            </div>
        </div>
    </div>
</section>