@page
@model ECommerce.Front.BolouriGroup.Pages.ContactModel
@{
    ViewData["Title"] = "ارتباط با ما";
}


<section class="inner-section single-banner">
    <div class="container">
        <h2>با ما تماس بگیرید</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-area="" asp-page="/Index">خانه</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">با ما تماس بگیرید</li>
        </ol>
    </div>
</section>


<section class="inner-section contact-part">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <form class="contact-form" method="post" action="https://themes.lunartechit.com/ارگانیک/assets/php/contact.php" id="contact-form">
                    <h4>پیام خود را ارسال کنید</h4>
                    <div class="form-group">
                        <div class="form-input-group">
                            <input class="form-control" type="text" placeholder="اسم شما" required=""><i class="fal fa-user"></i>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-input-group">
                            <input class="form-control" type="text" placeholder="ایمیل شما" required=""><i class="fal fa-envelope"></i>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-input-group">
                            <input class="form-control" type="text" placeholder="موضوع " required=""><i class="fal fa-bookmark"></i>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-input-group">
                            <textarea class="form-control" placeholder="پیغام تو" required=""></textarea><i class="fal fa-pen"></i>
                        </div>
                    </div>
                    <button type="submit" class="form-btn-group">
                        <i class="fal fa-paper-plane"></i><span>پیام فرستادن</span>
                    </button>
                    <div class="my-2">
                        <div class="form-messege text-success"></div>
                    </div>
                </form>
            </div>
            <div class="col-lg-6">
                <div class="contact-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3170.3440603838417!2d49.632371344118425!3d37.38169483316513!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x401fe789d6e7b3ed%3A0xc927a2bcc4170052!2z2KrYrNmH24zYstin2Kog2LXZhti52KrbjCDYoti02b7Ystiu2KfZhtmHINio2YTZiNix24w!5e0!3m2!1sen!2sde!4v1645523990540!5m2!1sen!2sde" width="600" height="450" style="border: 0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="contact-card">
                    <i class="fal fa-map-marker-alt"></i>
                    <h4>مکان دفتر</h4>
                    <p>
                        ایران - گیلان-رشت -خمام -جاده چوکام - جنب سایپا پور رستگار - خیابان شریفی
                        کدپستی : ۴۳۴۵۱۴۱۴۴۱
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="contact-card">
                    <i class="fal fa-phone"></i>
                    <h4>شماره تماس </h4>
                    <p>
                        <a href="#">0133395 </a>
                        <a href="#">01334497480 </a>
                        <a href="#">01334497481 </a>
                        <a href="#">01334497482 </a>
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="contact-card">
                    <i class="fal fa-envelope"></i>
                    <h4>نامه پشتیبانی</h4>
                    <p>
                        <a>
                            <span class="__cf_email__" data-cfemail="b1d8dfd7def1d4c9d0dcc1ddd49f">boloorico@gmail.com</span>
                        </a>
                        <a>
                            <span class="__cf_email__" data-cfemail="aedddbdedec1dcdaeecbd6cfc3dec2cb80cdc1c3">boloorico@gmail.com</span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="news-part">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-5 col-lg-6 col-xl-7">
                <div class="news-text">
                    <h2>برای به روزرسانی خبرنامه ما مشترک شوید</h2>
                    <p>تنوع زیادی از معابر سنگ معدن سنگ معدن موجود است</p>
                </div>
            </div>
            <div class="col-md-7 col-lg-6 col-xl-5">
                <form class="news-form">
                    <input type="text" placeholder="آدرس ایمیل خود را وارد کنید">
                    <button>
                        <span> اشتراک <i class="far fa-paper-plane"></i> </span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>