@page
@model ErrorModel
@{
    ViewData["Title"] = "فروشگاه اینترنتی بلوری";
}
<section class="inner-section single-banner-404">
        <div class="container">
            <div class="row rtl">
            <div class="col-sm-12 col-xs-10 col-md-6 col-lg-6">
                    <div class="banner-content">
                    <a class="btn btn-inline btn-inline-401" onclick="history.back()"><span>بازگشت به قبل</span></a>
                        <a class="btn btn-inline btn-inline-402" asp-area="" asp-page="/Index"><span>رفتن به صفحه اصلی</span></a>
                    </div>
                </div>
            </div>
        </div>
  
</section>

