@page
@model ECommerce.Front.BolouriGroup.Pages.FaqModel
@{
    ViewData["Title"] = "مجموعه بلوری - سوالات متداول";
}
<section class="inner-section single-banner">
    <div class="container">
        <h2>سوالات متداول</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-area="" asp-page="/Index">خانه</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">سوالات متداول</li>
        </ol>
    </div>
</section>
<section class="inner-section faq-part">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <div class="faq-parent">
                    <div class="faq-child">
                        <div class="faq-que">
                            <button>آیا برای خرید کردن حتما باید ثبت نام کنم ؟</button>
                        </div>
                        <div class="faq-ans">
                            <p>
                                بله. قبل از خرید در بلوری حتما باید از طریق شماره موبایل ثبت نام کنید.
                            </p>
                        </div>
                    </div>
                    <div class="faq-child">
                        <div class="faq-que">
                            <button>چطور میتوانم ثبت نام کنم ؟</button>
                        </div>
                        <div class="faq-ans">
                            <p>
                                روی گزینه "ثبت نام" کلیک کنید.بعد از وارد نمودن شماره موبایل کد فعال سازی برایتان پیامک میشود با وارد نمودن کد فعالسازی ، ثبت نام انجام می شود. سپس روی گزینه تکمیل اطلاعات کلیک و اطلاعات خود را تکمیل نمایید
                            </p>
                        </div>
                    </div>
                    <div class="faq-child">
                        <div class="faq-que">
                            <button> آیا می توانم سفارش خود را تلفنی ثبت کنم؟</button>
                        </div>
                        <div class="faq-ans">
                            <p>
                                بله ، از طریق شماره 0133395 بین ساعات 9 صبح الی 7 عصر روزهای شنبه تا چهارشنبه می توانید سفارشتان را ثبت نمایید.
                            </p>
                        </div>
                    </div>
                    <div class="faq-child">
                        <div class="faq-que">
                            <button>آیا می توانم سفارش خود را در محل تحویل پرداخت کنم؟</button>
                        </div>
                        <div class="faq-ans">
                            <p>
                                خیر.کلیه پرداخت های وب سایت و فروش تلفنی ازطریق درگاه بانکی انجام می شود.
                            </p>
                        </div>
                    </div>
                    <div class="faq-child">
                        <div class="faq-que">
                            <button>چطورمی توانم شماره کارت خود را در حساب کاربری وارد کنم؟</button>
                        </div>
                        <div class="faq-ans">
                            <p>
                                میتوانید با وارد شدن به حساب کاربری خود شماره کارت خود را وارد نمایید.
                            </p>
                        </div>
                    </div>
                    <div class="faq-child">
                        <div class="faq-que">
                            <button>چگونه می توانم سفارش خود را حضوری دریافت کنم؟</button>
                        </div>
                        <div class="faq-ans">
                            <p>
                                شما می توانید در زمان تکمیل خرید با انتخاب گزینه دریافت حضوری سفارشتان را در محل فروشگاه دریافت نمایید.
                            </p>
                        </div>
                    </div>
                    <div class="faq-child">
                        <div class="faq-que">
                            <button>چگونه می توانم فاکتور سفارش خود را دریافت کنم؟</button>
                        </div>
                        <div class="faq-ans">
                            <p>
                                پس از تکمیل مراحل خرید می توانید با انتخاب گزینه مشاهده فاکتور، تصویر فاکتور خود را دریافت نمایید.
                            </p>
                        </div>
                    </div>
                    <div class="faq-child">
                        <div class="faq-que">
                            <button>آیا می توانم کالاهای نا موجود را سفارش بدهم؟</button>
                        </div>
                        <div class="faq-ans">
                            <p>
                                فقط کالاهای نا موجودی که گزینه استعلام دارند را میتوانید از طریق تماس تلفنی با شماره 0133395 سفارش دهید.
                            </p>
                        </div>
                    </div>
                    <div class="faq-child">
                        <div class="faq-que">
                            <button>می توانم سفارش خود را به صورت اقساطی پرداخت کنم؟ </button>
                        </div>
                        <div class="faq-ans">
                            <p>
                                خیر.کلیه سفارشات به صورت نقدی پرداخت میشود.
                            </p>
                        </div>
                    </div>
                    <div class="faq-child">
                        <div class="faq-que">
                            <button>نحوه فعال سازی گارانتی چگونه است؟</button>
                        </div>
                        <div class="faq-ans">
                            <p>
                                نحوه فعال سازی گارانتی چگونه است؟
                                گارانتی ها به دو شکل فعاسازی می شوند:
                                1. با مدارک درخواستی فروشنده قابل فعال سازی می باشد
                                2. در مورد کالاهای گارانتی شده توسط مجموعه بلوری فاکتورخرید به عنوان برگه گارانتی می باشد.

                            </p>
                        </div>
                    </div>
                    <div class="faq-child">
                        <div class="faq-que">
                            <button>نصب کالاهای تخصصی چگونه انجام می شود؟</button>
                        </div>
                        <div class="faq-ans">
                            <p>
                                باز کردن جعبه و نصب کالاهایی که باید توسط نصاب شرکت مربوط راه اندازی شوند (مانند اسپرسو ماشین، یخچال و نظیر آن) تنها باید توسط نصاب مجاز انجام شود. برای این منظور لازم است خریدار با شرکت مربوط یا نمایندگی مجاز آن تماس بگیرد. در غیر این صورت امکان استفاده از هرگونه گارانتی یا خدمات پس از فروش از بین خواهد رفت.
                                در صورت نیاز به نصب تخصصی کالاهایی که گارانتی نصب توسط شرکت مربوط ندارند، تیم بلوری سرویس میتواند برای نصب این کالاها فقط در استان گیلان و استان های همجوار در محل حاضروسرویس دهی نماید.

                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
