@page "/Login"
@model ECommerce.Front.BolouriGroup.Pages.LoginModel
@{
    ViewData["Title"] = "ورود";
}

@if (Model.Message != null)
{
    switch (Model.Code)
    {
        case "Error":
            <div class="alert alert-danger"> @Model.Message </div>
            break;
        case "Warning":
            <div class="alert alert-warning"> @Model.Message </div>
            break;
        case "Info":
            <div class="alert alert-info"> @Model.Message </div>
            break;
        default:
            <div class="alert alert-success"> @Model.Message </div>
            break;
    }

    Model.Message = null;
}
<div id="errorMessage" class="alert alert-danger"></div>
<div class="maini">
    <section class="user-form-part section section1" id="section1">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-10 col-md-8 col-lg-5 col-xl-5">
                    <div class="user-form-card">
                        <div class="user-form-logo">
                            <a asp-area="" asp-page="/Index">
                                <img src="~/img/logo.webp" alt="لوگو" width="250" height="117" loading="lazy">
                            </a>
                        </div>
                        <div class="user-form-title">
                            <h1>ورود | ثبت‌نام</h1>
                            <p>سلام!</p>
                            <p class="lign-right">لطفا شماره موبایل خود را وارد کنید</p>
                        </div>
                        <div class="user-form">
                            <div class="form-group">
                                <p class="alert"></p>
                                <input id="userName" type="text" onkeypress="actionOnEnterPress(this.id)" class="form-control" placeholder="شماره موبایل  خود را وارد کنید" autofocus>
                            </div>

                            <div class="form-button">
                                <button type="button" onclick="CheckExistUserByMobile()">ادامه</button>
                                <p>ورود شما به معنای پذیرش<a asp-area="" asp-page="/Rules">قوانین بلوری </a>است</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="user-form-part section section2" id="section2">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-10 col-md-8 col-lg-5 col-xl-5">
                    <div class="user-form-card">
                        <div class="user-form-logo row">
                            <div class="col-md-1">
                                <a onclick="showHomeSection()">
                                    <img src="~/img/arrow-icon.webp" width="25" height="25" loading="lazy" style="width: 25px">
                                </a>
                            </div>
                            <div class="col-md-10">
                                <a asp-area="" asp-page="/Index">
                                    <img src="~/img/logo.webp" alt="لوگو" width="250" height="117" loading="lazy">
                                </a>
                            </div>
                        </div>
                        <div class="user-form-title">
                            <h2>کد تایید را وارد کنید</h2>
                            <p>سلام!</p>
                            <p class="lign-right">
                                حساب کاربری با شماره موبایل
                                <span id="MobileList"></span>
                                وجود ندارد. برای ساخت حساب جدید،کد تایید برای این شماره ارسال گردید.
                            </p>
                        </div>
                        <div class="user-form">
                            <div class="form-group">
                                <p class="alert"></p>
                                <input id="ConfirmCode" onkeypress="actionOnEnterPress(this.id)" type="text" class="form-control">
                            </div>

                            <div class="form-button">
                                <button type="button" class="Submit" onclick="SubmitRegisterCode()">ادامه</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="user-form-part section section3" id="section3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-10 col-md-8 col-lg-5 col-xl-5">
                    <div class="user-form-card">
                        <div class="user-form-logo row">
                            <div class="col-md-1">
                                <a onclick="showHomeSection()">
                                    <img src="~/img/arrow-icon.webp" width="25" height="25" loading="lazy" style="width: 25px">
                                </a>
                            </div>
                            <div class="col-md-10">
                                <a asp-area="" asp-page="/Index">
                                    <img src="~/img/logo.webp" alt="لوگو" width="250" height="117" loading="lazy">
                                </a>
                            </div>
                        </div>
                        <div class="user-form-title">
                            <h2>رمز عبور را وارد کنید</h2>
                            <div class="user-form">
                                <div class="input-group" id="show_hide_password">
                                    <input class="form-control" id="userPassword" type="password" onkeypress="actionOnEnterPress(this.id)">
                                    <div class="input-group-addon">
                                        <a href="" style="color: #0d6efd"><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="nav nav-tabs" role="tablist" style="margin-right: -20px;margin-left: -20px">
                                    <input type="button" id="sendSmsButton" value="دریافت رمز یکبار مصرف" onclick="SendConfirmSmsToExistUser()" />
                                    &nbsp;&nbsp;&nbsp;
                                    <span id="countdown"></span>
                                </div>
                                <div class="form-button">
                                    <button type="button" onclick="LoginUser()">ورود</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div><!----maini close--->
@section Scripts
    {
    <script>

        function actionOnEnterPress(id) {
            if (event.keyCode == 13) {
                switch (id) {
                    case 'userPassword': LoginUser();
                        break;
                    case 'ConfirmCode': SubmitRegisterCode();
                        break;
                    case 'userName': CheckExistUserByMobile();
                        break;
                }
            }
        }

        function showHomeSection() {
            $("#section1").css("display", "block");
            $("#section2").css("display", "none");
            $("#section3").css("display", "none");
            $("#userName").focus();
        }

        function showSectionNewUser() {
            $("#section1").css("display", "none");
            $("#section2").css("display", "block");
            $("#section3").css("display", "none");
            mobileNumber = $("#userName").val();
            $("#MobileList").text(mobileNumber);
            $("#ConfirmCode").focus();
        }

        function showSectionExistUser() {
            $("#section1").css("display", "none");
            $("#section2").css("display", "none");
            $("#section3").css("display", "block");
            $("#userPassword").focus();
        }

        function CheckExistUserByMobile() {
            var mobile = $("#userName").val();
            $.ajax({
                type: "Get",
                url: "/Login?handler=SecondsLeft&username=" + mobile,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    if (result.code === 0) showSectionExistUser()
                    if (result.code === 1) {
                        showSectionNewUser();
                        SendRegisterConfirmSms(mobile);
                    }
                    if (result.code === 2) {
                        showSectionExistUser();
                        timer = result.returnData;
                        $("#sendSmsButton").disabled = true;
                        var interval = setInterval(function () {
                            var minutes = Math.trunc(parseInt(timer) / 60);
                            var seconds = parseInt(timer) - (minutes * 60);
                            --seconds;
                            minutes = (seconds < 0) ? --minutes : minutes;
                            if (minutes < 0) clearInterval(interval);
                            seconds = (seconds < 0) ? 59 : seconds;
                            $('#countdown').html(minutes + ':' + seconds);
                            timer = minutes * 60 + seconds;
                            if (timer == 0) {
                                clearInterval(interval);
                                $('#countdown').html('');
                                btnSendActive.addEventListener('click', buttonClicked);
                            }
                        }, 1000);
                        $("#sendSmsButton").disabled = false;
                    }
                },
                failure: function (response) {
                }
            });
        }

        function LoginUser() {
            var mobile = $("#userName").val();
            var pass = $("#userPassword").val();
            var encodedPass = encodeURIComponent(pass);
            $.ajax({
                type: "Get",
                url: "/Login?handler=UserLoginSubmit&username=" + mobile + "&password=" + encodedPass,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    if (result.code === 0) {
                        location.href = "Index";
                    } else {
                        document.getElementById("errorMessage").innerHTML = result.message;
                    }
                },
                failure: function (response) {
                }
            });
        }

        function SendRegisterConfirmSms(mobile) {
            $.ajax({
                type: "Get",
                url: "/Login?handler=SendRegisterSms&username=" + mobile,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: false,
                success: function (result) {
                    swal(result.message);
                    if (result.status != 1) showSection1();
                }
            });
        }

        function SubmitRegisterCode() {
            var confirmCode = $("#ConfirmCode").val();
            var username = $("#userName").val();
            $.ajax({
                type: "Get",
                url: "/Login?handler=GenerateCode&mobile=" + username,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    if (result == confirmCode) {
                        window.location.replace("/Register?mobile=" + username + "&confirmCode=" + confirmCode);
                    } else {
                        swal("کد تایید صحیح نمی باشد.");
                    }
                }
            });
        }

        function SendConfirmSmsToExistUser() {
            username = document.getElementById("userName").value;
            if (username == "") {
                return;
            }
            var timer = "";
            $.ajax({
                type: "Get",
                url: "/login?handler=SecondsLeft&username=" + username,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: false,
                success: function (result) {
                    if (result.code == 2) {
                        timer = result.returnData;
                    }
                    if (result.code == 1) {
                        newNumber = true;
                    }
                }
            });
            if (timer == "") {
                swal("رمز یکبار مصرف برای شما ارسال شد.");
                $.ajax({
                    type: "Get",
                    url: "/login?handler=SendConfirmSmsToExistUser&username=" + username,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    async: false
                });
                timer = "130";
            }

            $("#sendSmsButton").disabled = true;
            var interval = setInterval(function () {
                var minutes = Math.trunc(parseInt(timer) / 60);
                var seconds = parseInt(timer) - (minutes * 60);

                --seconds;
                minutes = (seconds < 0) ? --minutes : minutes;
                if (minutes < 0) clearInterval(interval);
                seconds = (seconds < 0) ? 59 : seconds;
                $('#countdown').html(minutes + ':' + seconds);
                timer = minutes * 60 + seconds;
                if (timer == 0) {
                    clearInterval(interval);
                    $('#countdown').html('');
                    btnSendActive.addEventListener('click', buttonClicked);
                }
            }, 1000);
            $("#sendSmsButton").disabled = false;
        }
    
    </script>
}
