@page "/Login"
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ECommerce.Front.BolouriGroup.Pages.LoginModel
@{
    ViewData["Title"] = "ورود";
}

@if (Model.Message != null)
{
    switch (Model.Code)
    {
        case "Error":
            <div class="alert alert-danger"> @Model.Message </div>
            break;
        case "Warning":
            <div class="alert alert-warning"> @Model.Message </div>
            break;
        case "Info":
            <div class="alert alert-info"> @Model.Message </div>
            break;
        default:
            <div class="alert alert-success"> @Model.Message </div>
            break;
    }

    Model.Message = null;
}
<section class="user-form-part">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-5 col-xl-5">
                <div class="user-form-logo">
                    <a asp-area="" asp-page="/Index">
                        <img src="~/img/logo.png" alt="لوگو" width="250" height="117" loding="lazy">
                    </a>
                </div>
                <div class="user-form-card">
                    <div class="user-form-title">
                        <h2>خوش آمدید!</h2>
                        <p>حساب خود را با شماره موبایل و رمز ورود وارد کنید</p>
                    </div>
                    <form method="post" class="user-form">
                        <div class="form-group">
                            <label>نام کاربری (شماره همراه)</label><input id="userName" type="text" asp-for="LoginViewModel.Username" class="form-control" placeholder="شماره موبایل خود را وارد کنید">
                        </div>
                        <div class="form-group">
                            <label>کلمه عبور یا رمز یک بار مصرف</label><input type="password" asp-for="LoginViewModel.Password" class="form-control" placeholder="رمز ورود خود را وارد کنید">
                        </div>
                        <div class="row mb-3">
                            <div class="col-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="remember">
                                    <label class="form-check-label" for="remember">
                                        مرا به خاطر بسپار
                                    </label>
                                </div>
                            </div>
                            <div class="col-6 text-end">
                                <a href="#" class="forgot-pass">بازیابی رمز عبور</a>
                            </div>
                        </div>
                        <div class="form-button">
                            <button type="submit" asp-page-handler="Submit">ورود</button>
                            
                            <p>حساب ندارید؟ <a asp-area="" asp-page="/Register">ثبت نام.</a></p>

                            <div class="nav nav-tabs" role="tablist" style="margin-right: -20px;margin-left: -20px">                               
                                <input type="button" value="دریافت رمز یکبار مصرف" onclick="SendConfirmSms()" />
                                <div class="col-6 text-end">
                                <input type="text" id="secondCounter" disabled />
                                </div>
                                <div class="preloader" id="loadingpreloader" style="visibility:hidden">
                                     <div class="loader"></div>
                                </div>
                            </div>                            
                        </div>
                        <div>
                        </div>

                    </form>
                </div>
                <div class="user-form-footer">
                    <p> &copy; 2021 - Bolouri - <a asp-area="" asp-page="/Privacy">Privacy</a></p>
                </div>
            </div>
        </div>
        <partial name="_ValidationScriptsPartial" />
    </div>
</section>

@section Scripts
    {
    <script>

    const { getJSON, parseJSON } = require("jquery");    
    function SendConfirmSms()
    {         
            document.getElementById("loadingpreloader").style.visibility = "visible";
            username = document.getElementById("userName").value;    
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {                        
                    var myresult = JSON.parse(this.responseText);  
                    swal(myresult.title, myresult.message, myresult.status);
                    document.getElementById("loadingpreloader").style.visibility = "hidden";
                    if (myresult.seconds > 0) countDown(myresult.seconds , username);
                }
            };
            xmlhttp.open("GET", "/login?handler=SendSms&username=" + username, true);
            xmlhttp.send();            
    }

       function countDown(_time, username) {            
            var _time = parseInt(_time);
            console.log(_time);
            var interval = setInterval(function () {
                _time --;
                document.getElementById("secondCounter").value = " " + _time + " ثانیه دیگر ";
                var aktivUserName = document.getElementById("userName").value;
                if ( _time == 0 || aktivUserName!=username) {
                    clearInterval(interval);
                     document.getElementById("secondCounter").value = "";
                }
                }, 1000); }
    </script>

}
