@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ECommerce.Front.BolouriGroup.Pages.OfferModel
@{
    ViewData["Title"] = "تخفیفات";
}

<section class="inner-section single-banner">
    <div class="container">
        <h2>تخفیف</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-area="" asp-page="/Index">خانه</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">تخفیف</li>
        </ol>
    </div>
</section>


<section class="inner-section offer-part">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="offer-card">
                    <a href="#">
                        <img src="~/img/banner/8.jpg" alt="پیشنهاد">
                    </a>
                    <div class="offer-div">
                        <h5 class="offer-code">BIFOFFER20</h5>
                        <button class="offer-select">تخفیف کپی</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="offer-card">
                    <a href="#">
                        <img src="~/img/banner/8.jpg" alt="پیشنهاد">
                    </a>
                    <div class="offer-div">
                        <h5 class="offer-code">BIFOFFER20</h5>
                        <button class="offer-select">تخفیف کپی</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="offer-card">
                    <a href="#">
                        <img src="~/img/banner/8.jpg" alt="پیشنهاد">
                    </a>
                    <div class="offer-div">
                        <h5 class="offer-code">BIFOFFER20</h5>
                        <button class="offer-select">تخفیف کپی</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="offer-card">
                    <a href="#">
                        <img src="~/img/banner/8.jpg" alt="پیشنهاد">
                    </a>
                    <div class="offer-div">
                        <h5 class="offer-code">BIFOFFER20</h5>
                        <button class="offer-select">تخفیف کپی</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="news-part">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-5 col-lg-6 col-xl-7">
                <div class="news-text">
                    <h2>برای به روزرسانی خبرنامه ما مشترک شوید</h2>
                    <p>تنوع زیادی از معابر سنگ معدن سنگ معدن موجود است</p>
                </div>
            </div>
            <div class="col-md-7 col-lg-6 col-xl-5">
                <form class="news-form">
                    <input type="text" placeholder="آدرس ایمیل خود را وارد کنید">
                    <button>
                        <span> اشتراک <i class="far fa-paper-plane"></i> </span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>