@page
@model ECommerce.Front.BolouriGroup.Pages.RedirectToSadadModel
@{
}

<h1>در حال انتقال به درگاه بانک</h1>

<form id="GetForm" name="GetForm" action="https://sadad.shaparak.ir/Purchase" method="get">
    <input type="hidden" name="Token" id="Token" value="@Model.Token.ToUpper()" />
</form>

@section scripts
    {
    <script language='javascript'>
        var form = document.GetForm;
        form.method = 'GET';
        form.submit();
    </script>
}