@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ECommerce.Front.BolouriGroup.Pages.RegisterModel
@{
    ViewData["Title"] = "ثبت نام";
}
@if (Model.Message != null)
{
    switch (Model.Code)
    {
        case "Error":
            <div class="alert alert-danger"> @Model.Message </div>
            break;
        case "Warning":
            <div class="alert alert-warning"> @Model.Message </div>
            break;
        case "Info":
            <div class="alert alert-info"> @Model.Message </div>
            break;
        default:
            <div class="alert alert-success"> @Model.Message </div>
            break;
    }

    Model.Message = null;
}
<section class="user-form-part">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-5 col-xl-5">
                <div class="user-form-logo">
                    <a asp-area="" asp-page="/Index">
                        <img src="~/img/logo.png" alt="لوگو">
                    </a>
                </div>
                <div class="user-form-card">
                    <div class="user-form-title">
                        <h2>ایجاد حساب!</h2>
                        <p>حساب خود را به صورت رایگان ثبت کنید</p>
                    </div>
                    <form method="post" asp-page-handler="Register" class="user-form">
                        <h6 class="widget-title border-left mb-40">مشتریان جدید</h6>

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <input type="text" placeholder="نام" asp-for="RegisterViewModel.FirstName" class="form-control">
                                <span asp-validation-for="RegisterViewModel.FirstName"></span>
                            </div>
                            <div class="col-sm-6 form-group">
                                <input type="text" placeholder="نام خانوادگی" asp-for="RegisterViewModel.LastName" class="form-control">
                                <span asp-validation-for="RegisterViewModel.LastName"></span>
                            </div>
                            <div class="col-sm-6 form-group">
                                <span asp-validation-for="RegisterViewModel.Mobile" style="color: red"></span>
                                <input type="text" placeholder="شماره همراه" dir="ltr" asp-for="RegisterViewModel.Mobile" class="form-control">
                            </div>
                            <div class="col-sm-6 form-group">
                                <span asp-validation-for="RegisterViewModel.Name"></span>
                                <input type="text" placeholder="نام شرکت" asp-for="RegisterViewModel.Name" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <span asp-validation-for="RegisterViewModel.Email" style="color: red"></span>
                            <input type="text" placeholder="آدرس ایمیل" dir="ltr" asp-for="RegisterViewModel.Email" class="form-control">
                        </div>
                        <div class="form-group">
                            <span asp-validation-for="RegisterViewModel.NationalCode" style="color: red"></span>
                            <input type="text" placeholder="کد ملی" dir="ltr" asp-for="RegisterViewModel.NationalCode" class="form-control">
                        </div>
                        <div class="form-group">
                            <span asp-validation-for="RegisterViewModel.Username" style="color: red"></span>
                            <input type="text" placeholder="نام کاربری" dir="ltr" asp-for="RegisterViewModel.Username" class="form-control">
                        </div>
                        <div class="form-group">
                            <span asp-validation-for="RegisterViewModel.Password" style="color: red"></span>
                            <input type="password" placeholder="رمز عبور" dir="ltr" asp-for="RegisterViewModel.Password" class="form-control">
                        </div>
                        <div class="form-group">
                            <span asp-validation-for="RegisterViewModel.ConfirmPassword" style="color: red"></span>
                            <input type="password" placeholder="تکرار رمز عبور" dir="ltr" asp-for="RegisterViewModel.ConfirmPassword" class="form-control">
                        </div>

                        <div class="form-group">
                            <label>
                                <small style="font-size: 12px">
                                    <input type="checkbox" name="signup" asp-for="RegisterViewModel.IsHaveCustomerCode"
                                           style=" width: 18px; height: 18px; visibility: inherit; position: sticky;margin-right: -1.5em">
                                    آیا شما در قبلا در سیستم حسابداری این شرکت ثبت شده اید؟

                                    <span asp-validation-for="RegisterViewModel.IsHaveCustomerCode"></span>
                                </small>
                            </label>
                            <input placeholder="در صورت داشتن کد مشتری در فاکتورهای قبلی، وارد کنید." dir="ltr" asp-for="RegisterViewModel.CustomerCodeCustomer" class="form-control" />
                            <span asp-validation-for="RegisterViewModel.CustomerCodeCustomer"></span><br />
                        </div>

                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" value="" id="agree"
                                   style=" width: 18px; height: 18px; visibility: inherit;position: sticky">
                            <label class="form-check-label" for="agree">
                                با <a href="#" data-toggle="modal" data-target="#roleModal">قوانین و مقررات</a> موافقم.
                            </label>
                        </div>
                        <div class="form-button">
                            <button type="submit">ایجاد حساب کاربری</button>
                            <p>قبلاً حساب دارید؟ <a asp-area="" asp-page="/Login">ورود.</a></p>
                        </div>
                    </form>

                </div>
                <div class="user-form-footer">
                    <p> &copy; 2021 - Boloori - <a asp-area="" asp-page="/Privacy">Privacy</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="roleModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="margin-top: 100px">
        <div class="modal-content" style="background: white">
            <div class="modal-header">
                <h2 style="text-align: right">قوانین و مقررات</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body" >
                <div class="modal-product clearfix">
                    <div class="quick-desc">
                        تمام محصولات موجود در فروشگاه «همراه پردازش آرشا» به طور کاملاً قانونی خریداری شده و در فروشگاه به خریداران عرضه می گردد.<br />
                        1.	روند استرداد وجه : در صورت انصراف از خرید و یا تایید درخواست مرجوعی، و یا فسخ قرارداد بنا بر هر دلیل کارشناسان مربوطه با مشتری تماس گرفته و پس از دریافت شماره شبا و یا شماره کارت پس از گذشت حداکثر 72 ساعت وجه به حساب شخص خریدار واریز می گردد. لازم به ذکر است وجه فقط به حساب کارت وارد شده در درگاه بانکی هنگام خرید، استرداد داده می شود.
                        2.	مدت زمان تحویل : در شرایط معمول ارسال از طریق پست پیشتاز بین 3 تا 5 روز کاری به طول خواهد انجامید.
                        3.	روند مرجوعی و نحوه فسخ قرارداد : در صورتیکه بنابر هر یک از دلایل ذیل، مشتری حداکثر تا 72 ساعت پس از تحویل کالا تصمیم به عودت داشته باشد :
                        •	انصراف از خرید پیش از ارسال کالا
                        •	عدم تامین بدلیل فقدان موجودی
                        •	اشتباه در ارسال کالا
                        •	انصراف مشتری بدلیل نقص فنی و کیفیت نامناسب کالا ( لازم به توجه است که ایرادهای اعلام شده توسط مشتری، توسط کارشناسان خدمات پس از فروش کنترل و بررسی میشود و در صورت تایید وجود نقص فنی، کالا مشمول استفاده از سرویس فوق میشود. همچنین، این سرویس اشکالهای فنی که در اثر استفاده نادرست کاربر از کالا ایجاد شود را شامل نمیشود )
                        4.	ساعت پاسخگویی : شنبه تا چهارشنبه از ساعت 9 الی 17 و روزهای پنجشنبه از ساعت 9 الی 13 بجز تعطیلات رسمی.
                        5.	نحوه پرداخت وجه : صرفا از طریق درگاه پرداخت الکترونیک تعبیه شده در سایت فروشگاه.
                        6.	شیوه حمل :
                        7.	نحوه پشتیبانی و خدمات پس از فروش : در خصوص کالاهایی که مجموعه نمایندگی عاملیت فروش آنها را دارا می باشد از طریق واحد خدمات فنی بلوری ( در حوزه جغرافیایی گیلان ) سرویس دهی و در خصوص خارج از پوشش محدوده، از طریق معرفی نمایندگی ها و کارشناسان معتمد، خدمات انجام خواهد شد. و در خصوص کالاهای خارج از نمایندگی، موضوع از طریق نمایندگی های مجاز آن محدوده انجام خواهد شد.
                        8.	نحوه شکایات : مشتریان محترم می توانند هرگونه نارضایتی خود را از طریق ارسال ایمیل به آدرس پست الکترونیک .... ثبت نمایند.

                    </div>

                </div><!-- .modal-product -->
            </div><!-- .modal-body -->
        </div><!-- .modal-content -->
    </div><!-- .modal-dialog -->
</div>