@page
@model RulesModel
@{
    ViewData["Title"] = "فروشگاه اینترنتی بلوری";
}
<section class="inner-section single-banner">
    <div class="container">
        <h1>قوانین و مقررات</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-area="" asp-page="/Index">خانه</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">قوانین و مقررات</li>
        </ol>
    </div>
</section>
<section class="inner-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div>
	                <div class="mb-4">
                        <h3><b>
                            قوانین و مقررات
                            </b>
                        </h3><br />
                        <div class="quick-desc">
                            <b>  1.	روند استرداد وجه :  </b> در صورت انصراف از خرید و یا تایید درخواست مرجوعی، و یا فسخ قرارداد بنا بر هر دلیل کارشناسان مربوطه با مشتری تماس گرفته و پس از دریافت شماره شبا و یا شماره کارت پس از گذشت حداکثر 72 ساعت وجه به حساب شخص خریدار واریز می گردد.لازم به ذکر است وجه فقط به حساب کارت وارد شده در درگاه بانکی هنگام خرید، استرداد داده می شود.<br />
                            <b> 2.	مدت زمان تحویل :  </b> در شرایط معمول ارسال از طریق پست پیشتاز بین 3 تا 5 روز کاری به طول خواهد انجامید.<br />
                            <b> 3.	روند مرجوعی و نحوه فسخ قرارداد :  </b> در صورتیکه بنابر هر یک از دلایل ذیل، مشتری حداکثر تا 72 ساعت پس از تحویل کالا تصمیم به عودت داشته باشد :<br />
                            &nbsp;&nbsp;  <b>•</b>	انصراف از خرید پیش از ارسال کالا<br />
                            &nbsp;&nbsp;  <b>•</b>	عدم تامین بدلیل فقدان موجودی<br />
                            &nbsp;&nbsp;  <b>•</b>	اشتباه در ارسال کالا<br />
                            &nbsp;&nbsp;  <b>•</b>	انصراف مشتری بدلیل نقص فنی و کیفیت نامناسب کالا (لازم به توجه است که ایرادهای اعلام شده توسط مشتری، توسط کارشناسان خدمات پس از فروش کنترل و بررسی میشود و در صورت تایید وجود نقص فنی، کالا مشمول استفاده از سرویس فوق میشود.همچنین، این سرویس اشکالهای فنی که در اثر استفاده نادرست کاربر از کالا ایجاد شود را شامل نمیشود)<br />
                            <b>  4.	ساعت پاسخگویی :  </b> شنبه تا چهارشنبه از ساعت 9 الی 17 و روزهای پنجشنبه از ساعت 9 الی 13 بجز تعطیلات رسمی.<br />
                            <b> 5.	نحوه پرداخت وجه :  </b> صرفا از طریق درگاه پرداخت الکترونیک تعبیه شده در سایت فروشگاه.<br />
                            <b> 6.	شیوه حمل : شرکت های پستی همچون تیپاکس، پست ، باربری راههایی است که معمولا اجناس فروشگاه ارسال می شود. </b><br />
                                    <b> 7.	نحوه پشتیبانی و خدمات پس از فروش :  </b> در خصوص کالاهایی که مجموعه نمایندگی عاملیت فروش آنها را دارا می باشد از طریق واحد خدمات فنی بلوری (در حوزه جغرافیایی گیلان) سرویس دهی و در خصوص خارج از پوشش محدوده، از طریق معرفی نمایندگی ها و کارشناسان معتمد، خدمات انجام خواهد شد.و در خصوص کالاهای خارج از نمایندگی، موضوع از طریق نمایندگی های مجاز آن محدوده انجام خواهد شد.<br />
                                        <b> 8.	نحوه شکایات :  </b> مشتریان محترم می توانند هرگونه نارضایتی خود را از طریق ارسال ایمیل به آدرس پست الکترونیک .... ثبت نمایند.<br />
                            <br />
                        </div>
	                </div>
                 
                </div>
            </div>
        </div>
    </div>
</section>
