@model List<Entities.ViewModel.CategoryParentViewModel>
<div>
    @foreach (var category in Model)
    {
        @if (category.Depth > 0)
        {
            for (int i = 0; i <= category.Depth; i++)
            {
                <text> &nbsp; &nbsp; </text>
            }
        }
        <input type="checkbox" name="Product.CategoriesId" id="cat-@category.Id" value="@category.Id" @if (category.Children != null && category.Children.Count > 0) { <text> disabled="disabled" </text> }>
        <label for="cat-@category.Id"> @category.Name</label>

        if (category.Children != null)
        {
            <partial name="_categoriesTree" model="category.Children " />
        }
    }
</div>
