@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ArshaHamrah.Areas.Admin.Pages.Blogs.DetailModel
@{
}
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-xxl-12 order-1 order-xxl-2 ">
            <div class="card card-custom">
                <div class="card-header">
                    <h3 class="card-title">
                        جزئیات مقاله
                    </h3>
                </div>
                <!--begin::Form-->
                <form class="form" method="post" asp-page-handler="OnPost">
                    <div class="card-body">
                   
                   
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-primary mr-2" asp-Page="/blogs/edit" asp-area="Admin" asp-route-id="@Model.Blog.Id">ویرایش</a>
                        <a class="btn btn-secondary" asp-Page="/blogs/index" asp-area="Admin">لغو</a>
                    </div>
                </form>
                <!--end::Form-->
            </div>
        </div>
    </div>
</div>