@page
@model ArshaHamrah.Areas.Admin.Pages.Factors.IndexModel

<div class="card card-custom gutter-b">
<div class="card-header">
	<div class="card-title">
		<h3 class="card-label">لیست فاکتور</h3>
	</div>
</div>
</div>