.search-result {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 300px;
  background-color: white;
  z-index: 5;
  box-shadow: #21212182 0px 8px 20px 0px;
  border-radius: 0px 0px 8px 8px;
  margin: 2px;
  overflow-y: hidden;
  gap: 2px;

  .search-result-items {
    height: 300px;
    overflow-y: scroll;

    a {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      color: black;
    }

    a:hover {
      background-color: rgba(0, 0, 0, 0.1);
      transition: all 200ms;
    }

    img {
      mix-blend-mode: multiply;
    }
  }
}

.search-result-all-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;

  a {
    border-radius: 0;
  }
}
