@model List<Entities.ViewModel.CategoryParentViewModel>

@if (Model != null)
{
    <li style="color: white">
        @foreach (var category in Model)
        {
            @if (category.Depth == 0)
            {
                <a class="cate-link dropdown-link" href="#" style="font-size: 13px">
                    <img src="~/images/vegetable.png" style="margin-bottom: 5px"/>
                    @category.Name
                </a>
            }

            @if (category.Children != null)
            {
                <ul class="dropdown-list">
                    <partial name="_categoriesMenu" model="category.Children"/>
                </ul>
            }
        }
    </li>
}