@page "/Admin/PurchaseOrder/{handler?}"
@model Bolouri.Areas.Admin.Pages.PurchaseOrderModel
@{
    ViewData["Title"] = "درخواست سفارش";
}
<!--begin::Title-->
<h1 class="d-flex text-dark fw-bolder fs-3 align-items-center my-1 ml-3">لیست جزییات سفارشات</h1>
<!--end::Title-->

<div class="card mb-5 mb-xl-8">
	<!--begin::Body-->
	<div class="card-body py-3">
		<!--begin::Table container-->
		<div class="table-responsive">
			<table class="table">
				<thead>
				<tr>
					<th scope="col">وضعیت سفارش:پرداخت شده</th>
					<th scope="col">تاریخ:25/05/1400</th>
					<th scope="col">تخفیف : 2500 تومان</th>
					<th scope="col">شناسه قیمت:23541</th>
				</tr>
				</thead>
			</table>
		</div>
		<br/>
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">نام کالا</th>
					<th scope="col">تعداد</th>
					<th scope="col">قیمت واحد</th>
					<th scope="col">جمع</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<th scope="row">1</th>
					<td>Mark</td>
					<td>Otto</td>
					<td>Mark</td>
					<td>Otto</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>