@page "/Admin/PurchaseOrder/{handler?}"
@model Bolouri.Areas.Admin.Pages.PurchaseOrderModel
@{
    ViewData["Title"] = "درخواست سفارش";
}
<!--begin::Title-->
<h1 class="d-flex text-dark fw-bolder fs-3 align-items-center my-1 ml-3">لیست درخواست سفارشات</h1>
<!--end::Title-->

<div class="card mb-5 mb-xl-8">
<!--begin::Body-->
<div class="card-body py-3">
<!--begin::Table container-->
<div class="table-responsive">
	<div class="table">
		
	</div>
</div>
</div>
</div>