@page "/Admin/User/{handler?}"
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ECommerce.Front.BolouriGroup.Areas.Admin.Pages.UserModel
@{
    ViewData["Title"] = "کاربران سایت";
}
<div class="post d-flex flex-column-fluid" id="kt_post">
    <div id="kt_content_container" class="container">
        <div class="card card-custom">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-lg-10 col-xl-8">
                        <div class="row align-items-center">
                            <div class="col-md-3 my-2 my-md-0">
                                <div class="input-icon">
                                    <input type="text" class="form-control" placeholder="جستجو..." id="kt_datatable_search_query" />
                                    <span>
                                        <i class="flaticon2-search-1 text-muted"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-3 my-2 my-md-0">
                                <div class="d-flex align-items-center">
                                    <label class="mr-3 mb-0 d-none d-md-block">نوع:</label>
                                    <select class="form-control" id="kt_datatable_search_status">
                                        <option value="">همه</option>
                                        <option value="1">همکار</option>
                                        <option value="2">کاربر عادی</option>
                                        <option value="3">پرسنل</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 my-2 my-md-0">
                                <div class="d-flex align-items-center">
                                    <label class="mr-3 mb-0 d-none d-md-block">خرید:</label>
                                    <select class="form-control" id="kt_datatable_search_type">
                                        <option value="">همه</option>
                                        <option value="1">خرید کرده</option>
                                        <option value="2">بدون خرید</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 my-2 my-md-0">
                                <div class="d-flex align-items-center">
                                    <label class="mr-3 mb-0 d-none d-md-block">وضعیت:</label>
                                    <select class="form-control" id="kt_datatable_search_type">
                                        <option value="">همه</option>
                                        <option value="1">فعال</option>
                                        <option value="2">غیر فعال</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="table-responsive mt-5">
                    <table class="table table-hover table-rounded table-striped border gy-7 gs-7">
                        <thead>
                            <tr class="fw-bold fs-6 text-gray-800 border-bottom-2 border-gray-200">
                                <th>نام کاربری</th>
                                <th>استان/شهر</th>
                                <th>تاریخ</th>
                                <th>نام شرکت</th>
                                <th>کد هلو</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>System Architect</td>
                                <td>2011/04/25</td>
                                <td>61</td>
                                <td>256314</td>
                                <td>
                                    <a asp-page="/Purchases" asp-area="Admin" class="label label-inline label-light-success font-weight-bold">فاکتور</a>
                                    <a  class="label label-inline label-light-danger font-weight-bold">غیرفعال</a>
                                    <a asp-page="/UserDetails" asp-area="Admin" class="label label-inline label-light-warning font-weight-bold">جزئیات کاربر</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Garrett Winters</td>
                                <td>اکانتant</td>
                                <td>Tokyo</td>
                                <td>63</td>
                                <td>2011/07/25</td>
                                <td>$170,750</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--begin: جدول داده ها-->
                @*  <div class="datatable datatable-bordered datatable-head-custom" id="kt_datatable"></div>*@
                <!--end: جدول داده ها-->
            </div>
        </div>
    </div>
</div>

@section Scripts
    {

    <script src="~/Admin/js/data-local.js"></script>
}