@page
@model Bolouri.Areas.Admin.Pages.Currencies.DetailModel
@{
}
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-xxl-12 order-1 order-xxl-2 ">
            <div class="card card-custom">
                <div class="card-header">
                    <h3 class="card-title">
                        جزئیات ارز
                    </h3>
                </div>
                <!--begin::Form-->
                <form class="form" method="post" asp-page-handler="OnPost">
                    <div class="card-body">
                        <div class="form-group">
                            <label>نام:</label>
                            <label class="form-control form-control-solid">@Model.Currency.Name</label>
                        </div>
                        <div class="form-group">
                            <label>قیمت:</label>
                            <label class="form-control form-control-solid">@Model.Currency.Amount</label>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-primary mr-2" asp-Page="/Currencies/edit" asp-area="Admin" asp-route-id="@Model.Currency.Id">ویرایش</a>
                        <a class="btn btn-secondary" asp-Page="/Currencies/index" asp-area="Admin">لغو</a>
                    </div>
                </form>
                <!--end::Form-->
            </div>
        </div>
    </div>
</div>